@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #f7f7f7;
}
.wrapper {
    background: #ffffff;
    width: min(450px, 90%);
    border-radius: 16px;
    box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
                0 32px 64px -48px rgba(0, 0, 0, 0.5);
}

/* Signup and Login Form css */

.form {
    padding: 25px 30px;
}
.form header {
    font-size: 25px;
    font-weight: 600;
    border-bottom: 1px solid #d8d8d8;
}
.form form {
    margin: 20px 0;
}
.form form .error-txt {
    color: #721c24;
    background: #f8d7da;
    padding: 8px 10px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 10px;
    display: none;
}
.form form .name-details {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}
.form form .field {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.form form .field label {
    margin-bottom: 2px;
}
.form form .field input {
    outline: none;
}
.form form .field input:not([type="file"]):not([type="submit"]) {
    width: 100%;
    height: 40px;
    font-size: 16px;
    padding: 0 10px;
    border: 1px solid #b8b8b8;
    border-radius: 5px;
}
.form form .field input[type="file"] {
    font-size: 16px;
}
.form form .field input[type="submit"] {
    margin-top: 12px;
    height: 45px;
    border: none;
    font-size: 18px;
    font-weight: 400;
    background: #3a3a3a;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
}
.form form .field input[type="submit"]:hover {
    background: #2d2d2d;
}
.form form .field .password-container {
    position: relative;
}
.form form .field .password-container input {
    padding-right: 30px;
}
.form form .field .password-container i {
    color: #3a3a3a;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.form .link {
    text-align: center;
    margin: 10px 0;
    font-size: 16px;
}
.form .link a {
    color: #3a3a3a;
}
.form .link a:hover {
    text-decoration: underline;
    color: #2d2d2d;
}

/* Users Page Css */

.users {
    padding: 25px 30px;
}
.users header, .users-list a {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    justify-content: space-between;
    border-bottom: 1px solid #d8d8d8;
}
.wrapper img {
    object-fit: cover;
    border-radius: 100%;
}
:is(.users, .users-list) .content {
    display: flex;
    align-items: center;
    gap: 15px;

}
.users header .content img {
    width: 50px;
    height: 50px;
}
:is(.users, .users-list) .details span {
    font-size: 18px;
    font-weight: 500;
}
.users header .logout {
    background: #3a3a3a;
    color: #ffffff;
    font-size: 17px;
    padding: 7px 15px;
    border-radius: 5px;
}
.users .search {
    margin: 20px 0;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
}
.users .search .text {
    font-size: 18px;
    cursor: pointer;
}
.users .search input {
    position: absolute;
    height: 42px;
    width: 85%;
    font-size: 16px;
    padding: 0 13px;
    border: 1px solid #b8b8b8;
    outline: none;
    border-radius: 5px 0 0 5px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s ease;
}
.users .search input.active {
    opacity: 1;
    pointer-events: all;
}
.users .search button {
    width: 15%;
    height: 42px;
    border: none;
    outline: none;
    color: #ffffff;
    background: #3a3a3a;
    font-size: 17px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}
.users .search button.active {
    background: #ffffff;
    color: #3a3a3a;
}
.users .search button.active i::before {
    content: "\f00d";
}
.users-list {
    max-height: 400px;
    overflow-y: auto;
}
:is(.users-list, .chat-box)::-webkit-scrollbar{
    width: 0;
}
.users-list .details {
    color: #000000;
}
.users-list a {
    padding-right: 22.25px;
    margin-bottom: 10px;
    border-bottom-color: #e8e6e6;
}
.users-list a:last-child {
    border: none;
    margin-bottom: 0;
}
.users-list a .content img {
    width: 40px;
    height: 40px;

}
.users-list a .content p {
    color: #7b7b8b;
}
.users-list a .status-dot {
    font-size: 14px;
    color: #3fad7c;
}
.offline {
    color: #a8a8b2;
}

/* Chat css */

.chat-area header {
    display: flex;
    align-items: center;
    padding: 18px 30px;
}
.chat-area header a {
    font-size: 18px;
    color: #3a3a3a;
}
.chat-area header img {
    width: 45px;
    height: 45px;
    margin: 0 15px;
}
.chat-area header span {
    font-size: 17px;
    font-weight: 500;
}
.chat-box {
    height: 500px;
    overflow-y: auto;
    background: #f7f7f7;
    padding: 10px 30px 20px 30px;
    box-shadow: inset 0 32px 32px -32px rgba(0, 0, 0, 0.05),
              inset 0 -32px 32px -32px rgba(0, 0, 0, 0.05);
}
.chat-box .chat {
    margin: 15px 0;
}
.chat-box .chat p {
    word-wrap: break-word;
    padding: 8px 16px;
}
.outgoing .details {
    max-width: calc(100% - 130px);
    margin-left: auto;
}
.outgoing .details p {
    background: #3fad7c;
    color: #ffffff;
    border-radius: 16px 16px 0 16px;
}
.chat-box .incoming {
    display: flex;
    align-items: flex-end;
}
.chat-box .incoming img {
    width: 35px;
    height: 35px;
}
.incoming .details {
    margin-left: 10px;
    max-width: calc(100% - 130px);
    margin-right: auto;
}
.incoming .details p {
    background: #3a3a3a;
    color: #ffffff;
    border-radius: 16px 16px 16px 0;
}
.chat-area form {
    padding: 18px 30px;
    display: flex;
    justify-content: space-between;
}
.chat-area form input {
    width: 90%;
    height: 45px;
    font-size: 16px;
    border: 1px solid #b8b8b8;
    padding: 0 12px;
    border-radius: 5px 0 0 5px;
    outline: none;
}
.chat-area form button {
    width: 10%;
    height: 45px;
    background: #3fad7c;
    color: #ffffff;
    font-size: 16px;
    border: none;
    outline: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}